
body{
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);


}
div{
    margin-top: 150px;
    margin-left: 600px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: fixed;
}
.registro{
    font-family: 'Bakbak One', cursive;
    font-size: 30px;
    padding-left: 60px;
}
.nombre {
    border: transparent;
    box-shadow: 0px 1px 0px #bdc3c7;
    margin-top: 50px;
    padding-right: 70px;
    outline: none;
}

.email{
    border: transparent;
    box-shadow: 0px 1px 0px #bdc3c7;
    margin-top: 50px;
    padding-right: 70px;
    outline: none;
}
.contraseña{
    border: transparent;
    box-shadow: 0px 1px 0px #bdc3c7;
    margin-top: 50px;
    padding-right: 70px;
    outline: none;
}
.boton{
    border-style: none;
    background: #FC5C7D;
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    margin-top: 80px;
    margin-left: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}